body{
  margin: 0;
  padding: 0;

}

/*дом,кто мы*/
.home{
    background: url(back_header.png);
	min-height:900px;
	height: auto;
	position: relative;
}
.bg-img{
	background-position: center center;
    background-size: cover;
	background-repeat: no-repeat;
;
}
.intro-box{
	height: 90vh;
	position: relative;
	display: table;
	text-align: center;
	width: 100%;
	position: relative;
}
.intro{
	display: table-cell;
	vertical-align: middle;
	font-size: 200%;
	color: Linen;
}
.button1{
  margin: 2vh;
  font-size:100%; 
  background:none; 
  color:Linen;
  outline: none;
  border: 2px solid Linen;
  border-radius: 4px;
}
.button1:hover{
	background-color:Crimson; 
	cursor:pointer;
}
.anchor{
	position: relative;
	display: flex;
	width: 50px;
    height: 50px;
    justify-content:center;
    align-items:center;
	border: 2px solid Linen;
	border-radius: 40px;
	background:white;
	margin: auto;
	bottom: 3vh;
}
.anchor:hover{
	background-color: Crimson;
    cursor: pointer;
}


/*меню + лого*/
.topmenu li {
	display: inline-block;	
}
header{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding: 15px;
	font-size: 30px;
}
.nav-bar{
  width: 100%;        
  display: flex;
  align-items: center;
  justify-content:center;
}

.a{
	font-family:Сomic Sans MS;
	color:White;
	text-decoration: none;
	margin: 10px;
	font-size: 100%;
}
.a:hover{
	color:Crimson;
	text-decoration: underline;
}

/*Блог*/
.blog{
	display: inline-block;
	text-align: center;
	background-color: #f8f8f8;
	width: 100%;
}

/*Фотки*/
.photo{
  display: flex;
  flex-wrap: wrap; 
}

/*Портфолио*/
.portfolio{
	display: flex;
	align-items: center;
    justify-content:space-around;
    background-image: url(back_portf.png);
    padding: 10vh;
}
.favourites{
    
	color: white;
	text-align: center;
	margin-left: 5vh;
}
.ball{
	margin: auto;
	display: flex;
	width: 50px;
    height: 50px;
    justify-content:center;
    align-items:center;
	border: 2px solid Linen;
	border-radius: 40px;
	background:none;
	font-size: 150%;
}

/*Цены*/
.pricing{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.top-bar{
	display: inline-block;
	text-align: center;
	width: 100%;
}
.button2{
  margin: 2vh;
  font-size:100%; 
  background:silver; 
  color:inherit;
  outline: none;
  border: 2px solid silver;
  border-radius: 4px;
}
.button2:hover{
  	background-color:Crimson; 
	cursor:pointer;
    color: Linen;
}
.box{
	border: 2px solid silver;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: Azure;
}
.box:hover{
	color: OrangeRed;
}
.circle{
	font-size: 120%;
    box-shadow: 0 0 0 7px Linen;
    width: 100px;
    background-color: White;
    position: absolute;
    margin-top: 100px;
    color: inherit;
    height: 100px;
	border: 2px solid silver;
	text-align: center;
	border-radius: 20vh;
}
.title-bar{
	border: 2px solid silver; 
	width: 100%; 
	background-color: silver;
	color: inherit;
	text-align: center;
	height: 150px;
}

/*Команда*/
.team{
	display: flex;
    flex-direction: column;
	position: relative;
	background-repeat: no-repeat;
    background-image: url(back_team.png);
    padding: 5vh;
    min-height:530px;
	height: auto; 
}
.our-team{
	text-align: center;
	width: 100%;
	color: Linen
}
.pasport{
	display: inline-block;
    background:none;
	border: 5px solid red;
	border-radius: 20vh;
	visibility: visible;
}
.participans{
	display: inline-block;
	visibility: hidden;
}
.participans:hover{
	visibility: visible;
	cursor: pointer;
}
.pasport-text{
	color:white;
	text-align: center;   
}
.people{
	flex-grow: 3;
	display: flex;
    align-items: center;
	justify-content: space-around;
}

/*Обратная связь*/
.contact{
	background-color: lightGrey;
    padding: 5vh;
}
.keep-in-touch{
	text-align: center;
	width: 100%;
	color: White;
	margin-bottom: 3vh;
}
.contact-box{
	position: relative;
	border-width: 2px;
	margin: auto;
	background-color: white;
	display: flex;
}
.adress{
	background-color: silver;
	display: inline-block;
}
.marg-p2{
	margin-bottom: 8vh;
	margin-left: 7vh;
	color: white;
	margin-right: 6vh;
}
.marg-p1{
	margin-top: 8vh;
	margin-left: 7vh;
	color: orangered;
}
.input-div{
	width: 100%;
    text-align: center;
    padding: 8vh;
    font-size: 130%;
}
.input{
	width: 150%;
  border-width: 0 0 2px;
}
.input:focus{
	outline: 0;
}

/*футер,все прочее*/
.rights{
  margin-right:10%;
}
.topbutton {
  width: 30px;
  height: 30px;
  border:2px solid #ccc;
  background:#FA8072;
  text-align:center;
  padding:10px;
  position:fixed;
  bottom:50px;
  right:50px;
  cursor:pointer;
  color:#333;
  font-family:verdana;
  font-size:20px;
  text-decoration: none;
  border-radius: 30px;
}
footer {
  background-color:DimGrey;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.container{
	display: flex;
	width: 50%;
    flex-wrap: wrap;
    padding-left: 15%;
    margin:2%;
}
.sn{
	text-decoration: none;
	color:black;
    margin-left: 5%;
	font-size:150%;
}
.sn:hover{
  color:red;
}

@media (min-width: 1200px){
     .img-p{
     	width: 25%;
     }
     .input{
     	width: 30%;
     }
}
@media (max-width: 900px){
     .input{
     	width: 80%;
     }
}